@import '../../../styles/Global.module.scss';

.themeSwitch_dark {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px auto;
    width: 80%;
    height: 15px;
    background-color: $bg-light;
    position:relative;
    border-radius: 50px;

    .themeSwitch_container {
        width: 80%;
        height: 50%;
    }

    .moon {
        width: 20px;
        height: 20px;
        position: absolute;
        left: -5%;
        background-image: url('../../../assets/images/moon.png');
        @extend .img-switch-theme-cfg;
        transform: translateX(100) rotate(180);
        transition: all 0.5s ease-in-out 0.05s;
    }
    
    .sun {
        width: 20px;
        height: 20px;
        position: absolute;
        left: -5%;
        background-image: url('../../../assets/images/sun.png');
        @extend .img-switch-theme-cfg;
        transform: translateX(100) rotate(180);
        transition: all 0.5s ease-in-out;
        opacity: 0;
    }
}

.themeSwitch_light {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px auto;
    width: 80%;
    height: 15px;
    background-color: $bg-light;
    position:relative;
    border-radius: 50px;

    .themeSwitch_container {
        width: 80%;
        height: 50%;
    }

    .moon {
        width: 20px;
        height: 20px;
        position: absolute;
        left: -5%;
        background-image: url('../../../assets/helpers/moon.png');
        @extend .img-switch-theme-cfg;
        transform: translateX(100%) rotate(180deg);
        transition: all 0.5s ease-in-out;
        opacity: 0;
    }
    
    .sun {
        width: 20px;
        height: 20px;
        position: absolute;
        left: -5%;
        background-image: url('../../../assets/helpers/sun.png');
        @extend .img-switch-theme-cfg;
        transform: translateX(100%) rotate(180deg);
        transition: all 0.5s ease-in-out .05s;
    }
}