@import '../../../styles/Global.module.scss';

// TEMA DARK
.themeSwitch_dark {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px auto;
    width: 80%;
    height: 15px;
    background-color: $bg-light;
    position:relative;
    border-radius: 50px;

    .themeSwitch_container {
        width: 80%;
        height: 50%;
    }

    .moon {
        background-color: red;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        position: absolute;
        left: -5%;
        background-image: url('../../../assets/moon.png');
        @extend .img-switch-theme-cfg;
        transform: translateX(100) rotate(180);
        transition: all .2s ease-in-out;
    }
    
    .sun {
        background-color: red;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        position: absolute;
        left: -5%;
        background-image: url('../../../assets/sun.png');
        @extend .img-switch-theme-cfg;
        transform: translateX(100) rotate(180);
        transition: all .2s ease-in-out;
        opacity: 0;
    }
}

// TEMA LIGHT
.themeSwitch_light {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px auto;
    width: 80%;
    height: 15px;
    background-color: $bg-light;
    position:relative;
    border-radius: 50px;

    .themeSwitch_container {
        width: 80%;
        height: 50%;
    }

    .moon {
        background-color: red;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        position: absolute;
        right: -5%;
        background-image: url('../../../assets/moon.png');
        @extend .img-switch-theme-cfg;
        transform: translateX(100) rotate(180);
        transition: all .2s ease-in-out;
        opacity: 0;
    }
    
    .sun {
        background-color: red;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        position: absolute;
        right: -5%;
        background-image: url('../../../assets/sun.png');
        @extend .img-switch-theme-cfg;
        transform: translateX(100) rotate(180);
        transition: all .2s ease-in-out;
    }
}