// Dark colors
$bg-dark: #071b37;
$main-text-dark: #fff;
$detail-dark-text: #4caeff;
$shadow-dark: 1px 1px 1px #e1e1e1;

// Light colors
$bg-light: #e1e1e1;
$main-text-light: #1f56a3;
$detail-light-text: $detail-dark-text; // Same as $detail-dark-text
$shadow-light: 1px 1px 5px #071b37;

// Opacity colors
$light-opacity: #e1e1e178;
$dark-opacity: #071b3778;
$detail-opacity: #1900ff78;

// Radius
$main-radius: 5px;

// Images
.img-default-cfg {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}


.img-switch-theme-cfg {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.img-presentation {
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}