@import '../../styles/Global.module.scss';

.selectedProject {
    padding-right: calc($allProjects-padding + $allProjects-width);
    width: $selectedProject-width;
    height: calc(100vh - $default-space);
    position: fixed;
    top: $default-space;
    z-index: 2;
}