@import '../../styles/Global.module.scss';

.selectedProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: $selectedProject-width;
    height: calc(100vh - $default-space);
    position: fixed;
    top: $default-space;
    z-index: 2;

    h3 {
        text-align: center;
    }

    .backgroundImage {
        width: 80%;
        height: 60%;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        border-radius: $main-radius;
    }

    p {
        text-align: left;
    }
}