@import '../../../styles/Global.module.scss';

.languageSwitch {
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
    @extend .img-default-cfg; 
}

.pt {
    background-image: url(../../../../src/assets/helpers/brazil-flag.png);
}

.en {
    background-image: url(../../../../src/assets/helpers/united-states-flag.png);
}