@import './styles/Global.module.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    color: $main-text-dark;
}

.App_dark {
    font-family: 'Roboto', sans-serif;
    background-color: $bg-dark;
    color: $main-text-dark;
}

.App_light {
    font-family: 'Roboto', sans-serif;
    background-color: $bg-light;
    color: $main-text-light;
}